In [1]:
# print 0 to 20 by using range

for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# print range 10 to 20
Expected o/p:
10 11 12 13 14 15 16 17 18 19

In [4]:
for temp in range(10,20):
    print(temp, end=' ')

10 11 12 13 14 15 16 17 18 19

Print number of items in the list by using 'len'

Expected O/p:

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [10]:
List2=[10,20,14,55,43,87,76]
x=len(List2)
print("Number of item in the List2:")
print(x)

Number of item in the List2:
7

In [ ]:
Expected O/p:

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [16]:
mainvariable= "Artificial Intelligence"
for temp in mainvariable:
    print(temp)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
Expected O/p:

-Your Name-
-Your Age-
-Your Profession-

In [15]:
list=["-Your Name-", "-Your Age-", "-Your Profession-" ]
for temp in list:
    print(temp)

-Your Name-
-Your Age-
-Your Profession-

#Print this mixed datatype using Tuples
Expected O/p:

(1, 'Welcome', 2, 'Hope')

In [26]:
tuples=(1, "Welcome", 2, "Hope")
print(tuples)

(1, 'Welcome', 2, 'Hope')

Tuple1=(0, 1, 2, 3)

Expected O/p:

((0, 1, 2, 3), ('python', 'HOPE')), 'HOPE'))

In [28]:
Tuple1=(0, 1, 2, 3)
Tuple2=('python', 'HOPE')
Tuple3=(Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

#print Odd Numbers in the list

(20,10,16,19,25,1,276,188)
19 is odd
25 is odd
1 is odd

In [36]:
list=[20,10,16,19,25,1,276,188]

for num in list:
    if((num%2)==1):
        print(num, "is odd")

19 is odd
25 is odd
1 is odd

#print Even numbers in the list

(20,10,16,19,25,1,276,188)
20 is odd
10 is odd
16 is odd
276 is odd
188 is odd

In [40]:
list=[20,10,16,19,25,1,276,188]

for num in list:
    if((num%2)==0):
        print(num, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even